@model IEnumerable<CL.Model.CategoryModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-6">
        <h1>Category</h1>
    </div>
    <div class="col-6">
        <a asp-controller="Category" asp-action="Create">
            Create Category
        </a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Create", "Category", new { @id = item.Id }, new { @class = "btn btn-md btn-primary" }) |
                    @Html.ActionLink("Delete", "DeleteEmployee", "Category", new { @id = item.Id }, new { @class = "btn btn-md btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
